.nav-link {
    color: #222222 !important;
}

a {
    text-decoration: none !important;
}

p {
    margin-left: .6rem; 
}

ul li {
    list-style: none;
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.add {
    padding: .5rem;
    width: 9rem;
    height: 3rem;
    color: white;
    background-color: grey;
    border: none;
    cursor: pointer;
}

.add:hover {
    background-color: rgba(128, 128, 128, 0.826);
}