<% layout("/includes/boilerplate") %>
<body>
  <form action="/add-task" method="post" class="form">
    <div class="mb-3 offset-1">
      <label for="title" class="form-label">TITLE</label>
      <input
        type="text"
        name="title"
        class="form-control"
        placeholder="Enter Title"
      />
    </div>

    <div class="mb-3 offset-1">
      <label for="description" class="form-label">DESCRIPTION</label>
      <textarea
        name="description"
        placeholder="What do you need to do?"
        class="form-control"
        required
      ></textarea>
    </div>

    <div class="row">
      <div class="col-5 offset-1">
        <label for="category" class="form-label">CATEGORY</label>

        <select class="form-select form-control" name="category" required>
          <option selected>Choose a Category</option>
          <option value="Personal">Personal</option>
          <option value="Public">Public</option>
          <option value="N/A">N/A</option>
        </select>
      </div>

      <div class="col-5">
        <label for="date" class="form-label">DUE DATE</label>
        <input
          class="form-control"
          type="date"
          name="date"
          placeholder="dd-mm-yyyy"
          required
        />
      </div>
    </div>

    <div class="btns mt-4">
      <button class="btn btn-dark add" type="submit">ADD TASK</button>
    </div>
  </form>
</body>
